/*-----Generelt-----*/
img {
    width: 100%;
    border: 0;
    height: auto;
}

body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #e7e7e5;
}

html {
    max-width: 100vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: .3s;
}

a:visited {
    color: inherit;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 2em;

}

h2 {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 1.3em;
    color: rgba(37, 61, 128, 0.83);
}

h3 {
    font-family: safety;
    font-weight: 100;
    font-style: italic;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.06em;
}

.sectionwrapper {
    width: 80%;
    margin: auto;
}

/*-----Animation-----*/

.valgt {
    color: white;
}

.gem {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.skjult {
    display: none;
    opacity: 0;
    overflow: hidden;
}

.hidden {
    /*Skubber menuen ud til hÃ¸jre side*/
    transform: translateX(100%);
    opacity: 0;
    display: none;
}

/*-----Menu-----*/

.navigation {
    background-color: #ffffff;
    max-width: 100%;
    height: 50px;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    transition: all .5s;
    display: block;
    padding-bottom: 22px;

}

.logo img {
    height: 30px;
    width: 180px;
    padding-left: 15px;
    padding-top: 10px;
}

.logo-container {
    width: 100vw;
}

.mainmenu-wrapper {
    background-color: #253d80;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 7.2vh;
    transition: transform .3s ease-in, opacity .3s ease-in, width .4s ease-out;
    display: block;
}

.navigation li.nav-item a {
    color: white;
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 25px 50px 25px 17px;
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
    text-align: center;
}

ul.level-1 {
    display: block;
    padding: 0px 50px 25px 17px;
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
}

/*burger knappen*/

.menu-toggle {
    position: absolute;
    border: none;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 2px;
    top: 0;
    right: 0;
    padding: 0 15px;
    z-index: 9999;
    transition: .2s ease-out;
    background-color: #28292C;
    cursor: pointer;
}

.lines {
    height: 2px;
    width: 100%;
    background: #ccc;
    margin: 3px 0;
    transition: all .3s ease-in;
    border-radius: 5px;
}

/*animation der fÃ¥r stregerne i burgermenuen til at dreje om til et kryds*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-1px, 4px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(46deg) translate(-3px, -6px);
}

/*-----Splash/box-----*/

#splash {
    width: auto;
    height: 80vh;
    max-width: none;
    background-image: url(images/tuborgIGlas.jpg);
    background-size: cover;
    background-position: 100% 0%;
}

/* #Bg_Video{
z-index:-1;
object-fit: cover;
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
} */



/*-----intro til Tuborg Nul-----*/

#intro {
    padding: 55px 0px;
}

#intro .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#intro .col {
    flex-grow: 0.3;
    flex-basis: 300px;
    margin-left: 10%;
}

/*-----Kampagne video-----*/

#kampagnevideo {
    background-color: #253d80;
    padding: 25px 0px 1px;
    max-width: 100vw;
}

#kampagnevideo h1 {
    color: white;
}

.videoInfo_wrapper h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 100;
    width: 350px;
}

.videoInfo a {
    color: #fd6d6f;
}

.videoInfo {
    max-width: 1052px;
    margin-left: 158px;
    margin-bottom: 90px;
}


iframe {
    width: 100%;
}

.videoInfo a {
    color: #fd6d6f;
    font-family: safety;
    font-size: 1rem;
    transition: all .3s ease;
    margin: 4rem 0;
}


/*-----Video portfolio-----*/

/*-Kampagne video2-*/

#kampagnevideo2 {
    background-color: #253d80;
    padding: 25px 0px 1px;
    max-width: 100vw;
}

#kampagnevideo2 h1 {
    color: white;
}

.videoInfo_wrapper h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 100;
    width: 350px;
}

.videoInfo a {
    color: #fd6d6f;
}

.videoInfo {
    max-width: 1052px;
    margin-left: 158px;
    margin-bottom: 90px;
}


iframe {
    width: 100%;
}

.videoInfo a {
    color: #fd6d6f;
    font-family: safety;
    font-size: 1rem;
    transition: all .3s ease;
    margin: 4rem 0;
}


/*-SoMe Video-*/



#soMeVideo {
    padding: 25px 0px 1px;
    max-width: 100vw;
}

.videoInfo_wrapper h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 100;
    width: 350px;
}

.videoInfo a {
    color: #fd6d6f;
}

.videoInfo {
    max-width: 1052px;
    margin-left: 158px;
    margin-bottom: 90px;
}


iframe {
    width: 100%;
}

.videoInfo a {
    color: #fd6d6f;
    font-family: safety;
    font-size: 1rem;
    transition: all .3s ease;
    margin: 4rem 0;
}









/*-----Citat fra Tuborg-----*/

#citat {
    text-align: center;
    background-color: #0c1244;
    padding: 50px;
}

#citat h3 {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;

}


/*-----Duft og smag - Reklame-----*/

#reklame {
    padding: 55px 0px;
}

#reklame .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#reklame .col {
    flex-grow: 0.3;
    flex-basis: 300px;
    margin-left: 10%;
}


/*-----Næringsindhold-----*/



/*-----Anmeldelser-----*/

.overskrift {
    width: 80%;
    margin: auto;
}

#anmeldelser h1 {
    margin-left: 10%;
}

#anmeldelser p {
    font-style: italic;
}

#anmeldelser {
    background-color: #f6B976;
    padding: 43px 23px;
}

#anmeldelser .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#anmeldelser .col {
    background-color: white;
    flex-grow: 1;
    flex-basis: 169px;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    margin: 20px;
    padding-top: 15px;
}

#anmeldelser .box {
    margin-left: 8%;
    margin-right: 8%;
}

#anmeldelser img {
    width: 80%;
    padding-left: 25px;
}

/*-----Footer-----*/

.footer__main {
    background: #253d80;
    padding: 70px 20px;
}

.footer__bottom {
    background: #C8C9C5;
    color: #fff;
    font-size: 14px;
    padding: 90px 0 30px 0;
    text-align: center;
}

.footer__bottom img {
    margin-bottom: 65px;
    width: 100%;
    max-width: 346px;
}

.footer ul {
    margin: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__bottom li {
    margin: 0 15px;
}

.footer__main a {
    color: #fff;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    margin: 0 35px;
    transition: all ease-in-out 0.3s;
}

.footer__bottom a {
    color: #fff;
    border-color: #0c1244;
}



.footer__bottom a:hover {
    text-decoration: underline;
}



/*-----Media-----*/

@media screen and (min-width: 768px) {

    /*-----Kampagne video-----*/

    .videoInfo_wrapper h2 {
        font-size: 2rem;
        width: 100vw;
    }

    .videoInfo_wrapper {
        height: 90vh;
    }

    .videoInfo {
        height: 500px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    /*-----Video portfolio-----*/

    .port-video {
        display: flex;
        justify-content: center;
    }

    .pv3 img {
        max-width: 700px;
    }

    .videos {
        width: 1024px;
    }

}

@media screen and (min-width: 1024px) {

    .navigation {
        height: 70px;
        display: flex;
    }

    .logo-container {
        padding: 25px;
        z-index: 9999;
    }

    .logo {
        z-index: 9999;
    }

    .mainmenu-wrapper {
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        position: fixed;
        top: 0;
        transform: translateX(0%);
        opacity: 1;
        justify-content: center;
        z-index: 300;
        height: 5%;
    }


    .logo-container {
        margin-left: -0.7vw
            /*margin-left: 117px;*/
    }

    .navigation li.nav-item a {
        color: #022D1B;
        font-family: 'Lora', serif;
        font-size: 1.76471rem;
        font-weight: 800;
        text-decoration: none;
        position: inherit;
        transition: all .3s ease;
        padding: 25px 25px;
        overflow: hidden;
        text-align: inherit;
        height: 20px;
        border-bottom: 0;
    }

    .nav-item {
        height: 68px
    }

    ul.level-1 {
        display: inline-block;
        padding: 0;
        line-height: 22px;
        position: static;
        vertical-align: middle;
        text-align: right;
    }


    /*-----Menu-knap-----*/

    /*burger knappen*/

    .menu-toggle {
        display: none;
    }

    .lines {
        display: none;
    }


    /*-----Kampagne video-----*/

    .videoInfo {
        max-width: 82%;
        margin-left: 96px;
    }
}
